*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, rgb(83, 197, 250), rgb(130, 247, 126))
}

button{
  font-size: larger;
}

.container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: azure;
  width: 500px;
  height: 300px;
  box-shadow: 4px 4px 5px 0px rgba(128, 128, 128, 0.199);
}

.input-buttons {
  margin-top: 15px;
}


h1{
  text-align: center;
}
